<mat-toolbar color="accent">
  <span>Usuario</span>
  <span class="spacios-btn"></span>

  <button mat-button color="" routerLink="/plantilla"> Plantillas </button>
  <button mat-button color="" routerLink="/deportes" > Deportes </button>
  <button mat-button color="" routerLink="/solicitudes" > Solicitudes </button>

  <span class="spacios-btn"></span>


  <button mat-icon-button class="Example-icon favorite-icon"  routerLink="/login" aria-label="Example icon-button with heart icon"  id="icono">
    <span class="material-symbols-outlined" id="icono"> logout </span>

  </button>

</mat-toolbar>

<router-outlet></router-outlet>
